<%= title('Master Your Tech Skills with Software Engineering, Coding, and Web Design Courses') %>

<meta name="title" content="Master Your Tech Skills with Software Engineering, Coding, and Web Design Courses" />
<meta name="description" content="<%= Get a competitive edge in the tech industry with comprehensive software engineering courses, coding courses, and web design courses. Learn from industry experts and learn all popular languages like ruby, javascript & Python and take your career to the next level today! %>" />
<meta name="keywords" content="Software Engineering courses, Coding courses, Learn Web design, Learn ruby, javascript & Python" />


<div class="page-container">




      <section class="abt">
          <br>
          <center><%= image_tag ("tt.webp") %>
          </center>
          <br><br>
      </section>

              <p class="prose max-w-none prose-gray dark:prose-invert">
        Grassroot is run by an open community of experienced software engineers from Havard and universities around the world.</p>
        <br>
              <p class="prose max-w-none prose-gray dark:prose-invert">
        They volunteer  thier expertise and  time to create a smooth learning path  in web development that is easy to understand and certian to land you a life changing job.</p>
        <br>
              <p class="prose max-w-none prose-gray dark:prose-invert">
        We believe quality education should be free and accessible to all.</p>
        <br>
              <p class="prose max-w-none prose-gray dark:prose-invert">
        Our mission is to achieve the goal in training  1 million young  Africans with skills they need to get hired   in web development jobs  and connect them  to our network of remote employers home and abroad.</p>
        <br>
              



  <br><br><br>

  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-start-3 md:col-span-8">
      <div class="pb-20">
        <h1 class="page-heading-title">Grassroot’s Full-Stack Web Development Program</h1>
        <section class="abt">
          <br>
          <center><%= image_tag ("about_gra.jpg") %>
          </center>
          <br><br><br>
        </section>
        <p class="prose max-w-none prose-gray dark:prose-invert">
          Across the global job market, full-stack developers are in demand for their broad knowledge and excellent IT skills. According to LinkedIn’s 2020 Emerging Jobs Report, full-stack web development is number four in the top 15 emerging jobs in the U.S. 
        </p>
        <br>
        <p class="prose max-w-none prose-gray dark:prose-invert">
          You can expect rewarding career opportunities by pursuing a full-stack web development course. Grassroot’s Full-Stack Web Development program helps students learn all the necessary elements to succeed as international, remote web developers.
        </p>
      </div>

      <h2 class="text-center text-gray-700 dark:text-gray-500 text-2xl mb-12">What Does Full-Stack Web Development Mean?</h2>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        Full-stack development is the complete process of developing an app or software from an initial idea. It involves front-end and back-end development, project management, development, and operations. In joining the full-stack web development program at Grassroot, you will learn JavaScript, React, data structures and algorithms, databases, object-oriented programming, API development, and much more. 
      </p>
      <br>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        Read on to see how Grassroot’s Full-stack Web Development program is helping students expand their knowledge and skills
      </p>

      <br><br><br>

      <h2 class="text-center text-gray-700 dark:text-gray-500 text-2xl mb-12">What Will I Learn in Grassroot’s Full-Stack Web Development Program?</h2>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        Grassroot’s full-stack web development program is a great place to enhance your technical and non-technical skills. By teaching students non-technical skills like building a professional network and job searching tips, Grassroot's curriculum aims to help students get jobs.
      </p>  

      <br><br>

      <h3 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">1. Introduction to Grassroot & Remote Collaboration</h3>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        You will learn how global students collaborate at Grassroot. Also, you will gain fundamental knowledge about HTML forms and responsiveness, accessibility and CSS frameworks, and more.
      </p>

      <br><br>

       <h3 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">2. JavaScript & Networking</h3>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        This module focuses on developing dynamic websites and APIs and building a global professional network. 
      </p>

      <br><br>

      <h3 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">3. React & Job Application Materials</h3>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        In this module, you will learn about React as a front-end framework, Redux as a state management tool, and effective ways to create your job application materials. 
      </p>

      <br><br>

      <h3 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">4. Ruby, Databases & Interviewing</h3>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        You will learn about databases, Ruby, object-oriented programming, and helpful interview tips through mock interview practice.      </p>

      <br><br>

            <h3 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">5. Rails & Preparing for Job Search</h3>
            <p class="prose max-w-none prose-gray dark:prose-invert">
      This module will help you understand model-view-controller architecture, database connection, and authentication and authorization through the Rails framework. Also, you will learn best practices and tools for job searching.       </p>

      <br><br><br>

      <h3 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">6. Final Capstone Group Project</h3>
            <p class="prose max-w-none prose-gray dark:prose-invert">
      You will collaborate with other developers to build a full-stack web application. Further, Grassroot will offer you an industry professional mock interview to prepare you for future job opportunities. </p>

      <br><br>


      <h1 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">In How Much Time Will I Complete the Full-Stack Web Development Program?</h1>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        It takes around seven months to complete the core program and a median time of five months of job searching. Students generally find a job within a year of starting Grassroot, making nearly three times as much as they did before the program! 
        During the seven months of the technical curriculum, you will learn about core concepts of full-stack development and gain the necessary technical and soft skills.
      </p>
      <br>
      <p>Grassroot also helps students secure suitable jobs according to their skills and expertise. You receive support from peers, mentors, and the Grassroot team throughout the program. During your job search, you receive support from a dedicated career coach who will help you until you land a job. Not only that, but every time you want to find a new position for your career, you can come back to job searching at Grassroot for support and guidance. From collaboration to communication skills, at Grassroot, you will learn the skills needed to excel in an international, remote company.</p>

      <br><br>

      <h1 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">What Jobs Can I Get After Grassroot's Full-Stack Web Development Program?</h1>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        As the importance of technology in business continues, the demand for full-stack web developers will grow. According to recent reports from the US Bureau of Labor Statistics, web developers are expected to see a 23% growth in job opportunities from 2021 to 2031.
       </p>
      <br>
      <p>Grassroot helps students find their dream job from their first day at Grassroot. After joining the program, you will learn various skills like problem-solving, collaboration, and communication to help you land a job. With these skills, you can apply for the role of a full-stack developer in different IT firms, including startups, large corporations, multinationals, small businesses, and more</p>
      <br>
      <p>Depending on your choice, you can apply for full-time, part-time, or contract-based roles in reputed organizations. After Grassroot’s web development program, many students have secured their dream jobs in multinational technology companies like Microsoft, Huawei, IBM, Deloitte, and more.</p>
      <br>
      <p>Check out the job roles you can pursue after completing this web development program: </p>
      <br>
      <p>• Full-stack Developer
      <p>• Front-end Developer</p>
      <p>• Back-end Developer</p>
      <p>• Computer Systems Analyst </p>
      <p>• Database Administrator </p>
      <p>• Web developer</p>
      <p>• Computer Systems Administrator<p></p>

     <br><br>

      <h1 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">What is a Full-Stack Developer Salary I Could Make After Completing the Program?</h1>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        • The full-stack developer's salary varies depending on various factors such as job type, location, and experience level. According to Indeed’s salary data, a web developer has an average base salary of USD 79,740 per year as of November 2022.      </p>
      <br>
      <p>• Your starting salary after completing the program will depend on your skills, expertise, and location.</p>
      <br>
      <p>At Grassroot, everyone gets a chance to learn, grow and become a global software developer, no matter their background. </p>

      <br><br>

        <section class="abt">
          <br>
          <center><%= image_tag ("cpm.jpg") %>
          </center>
          <br><br><br>
        </section>

        <h1 class="text-gray-700 dark:text-gray-500 text-2xl mb-5">Will I Get a Certificate When I Complete the Program?</h1>
      <p class="prose max-w-none prose-gray dark:prose-invert">
      Yes, we do provide a certificate upon your completion of Grassroot.

However, The best employers out there don't care whether or not you have an "official" degree. What matters to them is that you know how to get the job done.

By studying at Grassroot and completing the full-time program, you will have the technical skills, soft skills, tenacity, and determination that many accredited programs at universities can't provide. Additionally, you'll have a large portfolio of documented projects you built during the training to help showcase your skills.

A verified certificate shows that you have successfully passed a Grassroot course in the verified track.
      </p>
      <br>
      <p class="prose max-w-none prose-gray dark:prose-invert">
        Pursuing this certification will give you the technical and soft skills to become a web developer. Also, you will have enough real-world coding and remote work experience to highlight your value during job interviews.
      </p>


    </div>
  </div>
</div>

<div class="page-container">
  <div class="flex p-8 items-center flex-col md:flex-row">
    <div class="flex-1 mt-8 md:mt-0 text-center">
      <h2 class="mb-4 font-bold text-2xl">Want to contact us?</h2>

      <p class="pb-8 max-w-md mx-auto dark:text-gray-400 text-gray-500">
        Connect with our friendly community on discord, a chat and networking platform or <a href="mailto:management@grassroot.academy" class="text-gold hover:underline">send us an email</a>.
      </p>

    </div>
  </div>
</div>



<style>

p {
  margin: 0 1.5rem;
}

.abt img {
  border-radius: 10px;
  /* max-width: 350px; */
}


/*  */
@media screen and (max-width: 850px) {
    .abt center img {
      max-width: 300px;
    }
    .abt img {
      max-width: 250px;
    }
}

</style>
