<div id="home-page">



  <div class="w-full text-center bg-white dark:bg-gray-900 text-">

    <%=image_tag 'black_logo.jpg' %>
    <header class="page-container pb-4">

<div id="homepage" class="orig_section_diagonal purple v2 skew-5">
  <div class="orig_content skew-5 XXsnipcss_extracted_selector_selectionXX snipcss0-0-0-1 tether-target-attached-top tether-element-attached-top tether-element-attached-center tether-target-attached-center">
    <div class="orig_container_2 hero_section relative w-container snipcss0-1-1-2">
  <div class="orig_h2_container_yello mb_96">
    <br>
      <h2 data-src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5dc8854311520e2e89ee0c51_path-5185_2.svg" class="orig_h2_title_green">INVEST IN YOURSELF</h2>
    </div>     
      <header class="orig_header relative snipcss0-2-2-3">
        <div class="orig_row no-gutters snipcss0-3-3-4">
          <div class="orig_inner_container snipcss0-4-4-5">
            <h1 class="orig_h1 hp _3 snipcss0-5-5-6"><span class="text-gold-600 dark:text-gold-600">Your Career in Web Development<span class="block font-medium">Starts Here</span></span></h1>
            <br><br>
          </div>
          <div class="orig_inner_container snipcss0-4-4-7">
            <div data-w-id="8e8d8a4b-5391-0c79-2955-767ec140f301" class="nav-trigger snipcss0-5-7-8"></div>
          <p class="mb-4 text-xl text-gray-500 dark:text-gray-400">Gain the skills you need to get hired. Learn online with a mobile phone or a PC at your own time. There are NO ENROLLMENT FEES until you land a job and decide to donate.</p>
          <br>
          </div>
          <%= link_to 'View Full Curriculum', paths_url, class: 'button button--secondary text-base' %> </div>
          <br><br><br><br>
      </header>
      <div class="main-image-wrapper snipcss0-2-2-17">
        <div class="standart-view snipcss0-3-17-18"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6240845dc55a4753ac98fb41_woman-hero-693.webp" loading="eager" alt="microverse homepage" class="main_image_2022_desktop snipcss0-4-18-19"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6240c999e032ac6476251986_woman-hero-500.webp" loading="eager" alt="microverse homepage" class="main_image_2022_tablet snipcss0-4-18-20"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6240cc31bf183069babf5570_woman-hero-336.webp" loading="eager" alt="microverse homepage" class="main_image_2022_mob snipcss0-4-18-21"></div>
        <div class="split-test-view snipcss0-3-17-22">
          <div class="w-layout-grid l-g-2-cols-split-test snipcss0-4-22-23"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/62e8ff5a077cc3e9b59cfaa0_abhigyan%20microverse.webp" loading="lazy" height="" width="150" alt="" class="grid-photo snipcss0-5-23-24"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/62e8ff58c624b97001f25d8e_Lamia.webp" loading="lazy" height="" width="150" alt="" class="grid-photo snipcss0-5-23-25"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/62e8ff596189230f2ec197a8_tresor%20microverse.jpg" loading="lazy" height="" width="150" alt="" class="grid-photo snipcss0-5-23-26"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/62e8ff58e378d50ed37a900f_ceci%20microverse.webp" loading="lazy" height="" width="150" alt="" class="grid-photo snipcss0-5-23-27"></div>
        </div>
      </div>
  </div>
</div>

  
    </header>
 
  </div>

  <%= render 'static_pages/home/how_it_works' %>

  <%= render 'static_pages/home/curriculum', courses: @courses %>

  <%= render 'static_pages/home/success_stories', cache: true %>
</div>




<%# PageStatic Style Here %>

<style>





* {
  box-sizing: border-box;
}
.orig_section_diagonal {
  position: relative;
  overflow: hidden;
  transform: skew(0deg, -9deg);
}
.orig_section_diagonal.purple {
  /* background-color: rgb(111, 35, 255); */
}
.orig_section_diagonal.purple.v2 {
  margin-top: -104px;
  transform: skew(0deg, -9deg);
}
.orig_section_diagonal.purple.v2.skew-5 {
  transform: skew(0deg, -5deg);
}
.orig_section_diagonal.v2,
.orig_section_diagonal.v2.light_blue {
  transform: skew(0deg, -5deg);
}
#homepage {
  transform-origin: left top;
  padding-bottom: calc(-30px + var(--oPadding));
}
.orig_content {
  position: relative;
  z-index: 105;
  display: block;
  width: 100%;
  transform: skew(0deg, 9deg);
}
.orig_content.modified,
.orig_content.skew-5 {
  transform: skew(0deg, 5deg);
}
.orig_content {
  transform-origin: left top;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container_2 {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}
.orig_container_2.hero_section {
  padding-top: 104px;
}
.relative {
  position: relative;
}

.orig_header {
  margin-top: 16px;
}
.orig_row {
  display: flex;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}
.orig_row.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.orig_inner_container {
  position: relative;
  z-index: 103;
  max-width: 66.6667%;
}
h1 {
  margin: 0.67em 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 56px;
}
.orig_h1 {
  margin-bottom: 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 1.27em;
}
h1,
h2,
h3,
.bold-text-3,
.text-block-18,
.achievement-number {
  font-family: Domine, sans-serif;
}
.nav-trigger {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 1px;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: rgb(99, 108, 152);
  line-height: 1.94;
  font-weight: 400;
}
.orig_paragraph {
  margin-top: 15px;
  margin-right: 30px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.65em;
}
body,
p {
  font-family: Montserrat, sans-serif;
}
b,
optgroup,
strong {
  font-weight: 700;
}
.orig_btn_container._25percent {
  width: 25%;
}

.orig_yellow_button {
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-top: 17px;
  margin-bottom: 134px;
  padding: 16px 0px 14px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(255, 213, 64);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 3px 0px;
  transition: color 150ms ease-in-out 0s;
  color: rgb(62, 62, 62);
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: normal;
  text-shadow: rgba(255, 255, 255, 0.57) 0px 1px 1px;
}
.orig_yellow_button:hover {
  opacity: 1;
  color: rgba(62, 62, 62, 0.5);
}
.orig_separator {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.orig_link_block {
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}
.orig_link_block:hover {
  opacity: 0.5;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.main-image-wrapper {
  position: absolute;
  inset: -46px -262px auto auto;
  width: 693px;
  height: 100%;
}
.main_image_2022_desktop {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main_image_2022_mob,
.main_image_2022_tablet {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.split-test-view {
  display: none;
}
.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
}
.l-g-2-cols-split-test {
  margin-top: 288px;
  margin-left: 79px;
  gap: 35px;
  grid-template-columns: max-content max-content;
}
.grid-photo {
  border-radius: 20px;
}
.orig_image_2 {
  position: absolute;
  inset: 0px auto auto 0px;
  z-index: 99;
  width: 269px;
  height: auto;
  max-height: 100%;
  max-width: 20.7vw;
}
.orig_image_2.mob {
  display: none;
  width: 288px;
  max-width: 32.2vw;
}
.orig_image_4 {
  position: absolute;
  inset: auto auto -72px 7.2vw;
  z-index: 100;
}
* {
  box-sizing: border-box;
}
.orig_section_diagonal {
  position: relative;
  overflow: hidden;
  transform: skew(0deg, -9deg);
}
.orig_section_diagonal.purple {
  /* background-color: rgb(111, 35, 255); */
}
.orig_section_diagonal.purple.v2 {
  margin-top: -104px;
  transform: skew(0deg, -9deg);
}
.orig_section_diagonal.purple.v2.skew-5 {
  transform: skew(0deg, -5deg);
}
.orig_section_diagonal.v2,
.orig_section_diagonal.v2.light_blue {
  transform: skew(0deg, -5deg);
}
#homepage {
  transform-origin: left top;
  padding-bottom: calc(-30px + var(--oPadding));
}
.orig_content {
  position: relative;
  z-index: 105;
  display: block;
  width: 100%;
  transform: skew(0deg, 9deg);
}
.orig_content.modified,
.orig_content.skew-5 {
  transform: skew(0deg, 5deg);
}
.orig_content {
  transform-origin: left top;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container_2 {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}
.orig_container_2.hero_section {
  padding-top: 104px;
}
.relative {
  position: relative;
}

.orig_header {
  margin-top: 163px;
}
.orig_row {
  display: flex;
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}
.orig_row.no-gutters {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}
.orig_inner_container {
  position: relative;
  z-index: 103;
  max-width: 66.6667%;
}

.orig_btn_container._25percent {
  width: 25%;
}

.orig_yellow_button {
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-top: 17px;
  margin-bottom: 134px;
  padding: 16px 0px 14px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(255, 213, 64);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 2px 3px 0px;
  transition: color 150ms ease-in-out 0s;
  color: rgb(62, 62, 62);
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: normal;
  text-shadow: rgba(255, 255, 255, 0.57) 0px 1px 1px;
}
.orig_yellow_button:hover {
  opacity: 1;
  color: rgba(62, 62, 62, 0.5);
}
.orig_separator {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.orig_link_block {
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}
.orig_link_block:hover {
  opacity: 0.5;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.main-image-wrapper {
  position: absolute;
  inset: -46px -262px auto auto;
  width: 693px;
  height: 100%;
}
.main_image_2022_desktop {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main_image_2022_mob,
.main_image_2022_tablet {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.split-test-view {
  display: none;
}
.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
}
.l-g-2-cols-split-test {
  margin-top: 288px;
  margin-left: 79px;
  gap: 35px;
  grid-template-columns: max-content max-content;
}
.grid-photo {
  border-radius: 20px;
}
.orig_image_2 {
  position: absolute;
  inset: 0px auto auto 0px;
  z-index: 99;
  width: 269px;
  height: auto;
  max-height: 100%;
  max-width: 20.7vw;
}
.orig_image_2.mob {
  display: none;
  width: 288px;
  max-width: 32.2vw;
}
.orig_image_4 {
  position: absolute;
  inset: auto auto -72px 7.2vw;
  z-index: 100;
}
@media (min-width: 1280px) {
  #homepage {
    padding-bottom: calc(-130px + var(--oPadding));
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2.hero_section {
    padding-top: 66px;
  }
}
@media (max-width: 1200px) {
  .orig_container_2 {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .orig_container_2 {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .orig_container_2 {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .orig_container_2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .orig_header {
    margin-top: 108px;
  }
}
@media screen and (max-width: 767px) {
  .orig_row {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1200px) {
  .orig_inner_container {
    max-width: 58.3333%;
  }
}
@media (max-width: 991px) {
  .orig_inner_container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .orig_h1 {
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 991px) {
  .orig_h1.hp {
    max-width: 570px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 1200px) {
  .orig_inner_container {
    max-width: 58.3333%;
  }
}
@media (max-width: 991px) {
  .orig_inner_container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  #copy-header {
    margin-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .orig_btn_container._25percent {
    width: 33.3333%;
  }
}
@media screen and (max-width: 767px) {
  .orig_btn_container._25percent {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .orig_separator {
    margin-top: 45px;
  }
}
@media screen and (max-width: 991px) {
  .main-image-wrapper {
    top: -15px;
    right: -225px;
    width: 500px;
  }
}
@media screen and (max-width: 767px) {
  .main-image-wrapper {
    top: 37px;
    right: -114px;
    width: 336px;
  }
}
@media screen and (max-width: 479px) {
  .main-image-wrapper {
    top: -79px;
    right: -96px;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_desktop {
    display: none;
    opacity: 0.32;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_tablet {
    display: block;
    opacity: 0.32;
  }
}
@media screen and (max-width: 767px) {
  .main_image_2022_tablet {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_mob {
    opacity: 0.32;
  }
}
@media screen and (max-width: 767px) {
  .main_image_2022_mob {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .split-test-view {
    margin-top: -226px;
    opacity: 0.15;
  }
}
@media screen and (max-width: 767px) {
  .split-test-view {
    opacity: 0.16;
  }
}
@media screen and (max-width: 479px) {
  .split-test-view {
    opacity: 0;
  }
}
@media screen and (max-width: 991px) {
  .l-g-2-cols-split-test {
    margin-left: -24px;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2.mob {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_4 {
    inset: auto 4.8vw 45px auto;
    max-width: 18.9vw;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_4 {
    display: none;
  }
}
@media (min-width: 1280px) {
  #homepage {
    padding-bottom: calc(-130px + var(--oPadding));
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2.hero_section {
    padding-top: 66px;
  }
}
@media (max-width: 1200px) {
  .orig_container_2 {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .orig_container_2 {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .orig_container_2 {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .orig_container_2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .orig_header {
    margin-top: 108px;
  }
}
@media screen and (max-width: 767px) {
  .orig_row {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1200px) {
  .orig_inner_container {
    max-width: 58.3333%;
  }
}
@media (max-width: 991px) {
  .orig_inner_container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .orig_h1 {
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 991px) {
  .orig_h1.hp {
    max-width: 570px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 1200px) {
  .orig_inner_container {
    max-width: 58.3333%;
  }
}
@media (max-width: 991px) {
  .orig_inner_container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  #copy-header {
    margin-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .orig_btn_container._25percent {
    width: 33.3333%;
  }
}
@media screen and (max-width: 767px) {
  .orig_btn_container._25percent {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .orig_separator {
    margin-top: 45px;
  }
}
@media screen and (max-width: 991px) {
  .main-image-wrapper {
    top: -15px;
    right: -225px;
    width: 500px;
  }
}
@media screen and (max-width: 767px) {
  .main-image-wrapper {
    top: 37px;
    right: -114px;
    width: 336px;
  }
}
@media screen and (max-width: 479px) {
  .main-image-wrapper {
    top: -79px;
    right: -96px;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_desktop {
    display: none;
    opacity: 0.32;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_tablet {
    display: block;
    opacity: 0.32;
  }
}
@media screen and (max-width: 767px) {
  .main_image_2022_tablet {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_mob {
    opacity: 0.32;
  }
}
@media screen and (max-width: 767px) {
  .main_image_2022_mob {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .split-test-view {
    margin-top: -226px;
    opacity: 0.15;
  }
}
@media screen and (max-width: 767px) {
  .split-test-view {
    opacity: 0.16;
  }
}
@media screen and (max-width: 479px) {
  .split-test-view {
    opacity: 0;
  }
}
@media screen and (max-width: 991px) {
  .l-g-2-cols-split-test {
    margin-left: -24px;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2.mob {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_4 {
    inset: auto 4.8vw 45px auto;
    max-width: 18.9vw;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_4 {
    display: none;
  }
}
@media (min-width: 1280px) {
  #homepage {
    padding-bottom: calc(-130px + var(--oPadding));
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2.hero_section {
    padding-top: 66px;
  }
}
@media (max-width: 1200px) {
  .orig_container_2 {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .orig_container_2 {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .orig_container_2 {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .orig_container_2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .orig_header {
    margin-top: 108px;
  }
}
@media screen and (max-width: 767px) {
  .orig_row {
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 1200px) {
  .orig_inner_container {
    max-width: 58.3333%;
  }
}
@media (max-width: 991px) {
  .orig_inner_container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 991px) {
  .orig_h1 {
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 991px) {
  .orig_h1.hp {
    max-width: 570px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media (max-width: 1200px) {
  .orig_inner_container {
    max-width: 58.3333%;
  }
}
@media (max-width: 991px) {
  .orig_inner_container {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  #copy-header {
    margin-right: 0px;
  }
}
@media screen and (max-width: 991px) {
  .orig_btn_container._25percent {
    width: 33.3333%;
  }
}
@media screen and (max-width: 767px) {
  .orig_btn_container._25percent {
    width: auto;
  }
}
@media (min-width: 1280px) {
  .orig_separator {
    margin-top: 45px;
  }
}
@media screen and (max-width: 991px) {
  .main-image-wrapper {
    top: -15px;
    right: -225px;
    width: 500px;
  }
}
@media screen and (max-width: 767px) {
  .main-image-wrapper {
    top: 37px;
    right: -114px;
    width: 336px;
  }
}
@media screen and (max-width: 479px) {
  .main-image-wrapper {
    top: -79px;
    right: -96px;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_desktop {
    display: none;
    opacity: 0.32;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_tablet {
    display: block;
    opacity: 0.32;
  }
}
@media screen and (max-width: 767px) {
  .main_image_2022_tablet {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .main_image_2022_mob {
    opacity: 0.32;
  }
}
@media screen and (max-width: 767px) {
  .main_image_2022_mob {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .split-test-view {
    margin-top: -226px;
    opacity: 0.15;
  }
}
@media screen and (max-width: 767px) {
  .split-test-view {
    opacity: 0.16;
  }
}
@media screen and (max-width: 479px) {
  .split-test-view {
    opacity: 0;
  }
}
@media screen and (max-width: 991px) {
  .l-g-2-cols-split-test {
    margin-left: -24px;
    gap: 16px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_2.mob {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_4 {
    inset: auto 4.8vw 45px auto;
    max-width: 18.9vw;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_4 {
    display: none;
  }
}






img {
  border-radius: 10px;
}

center img {
  border-radius: 10px;
  margin: 3rem 0 0 0;
  max-width: 70%;
}

</style>