<%= title('Work Anywhere with Remote Programming Jobs | Online Development Jobs | web developer jobs') %>
<%= meta_description('Find the ultimate work-life balance with remote programming jobs and online development jobs. Enjoy the flexibility of working from anywhere while building your career in tech and explore a range of job opportunities.') %>
<%= meta_keywords('Remote programming jobs, online development jobs, Grassroot software academy') %>


<div class="section wf-section snipcss-ltMCR">

    <br>
    <h1 class="page-heading-title">Job Placement</h1>
    <h2 class="text-center text-gray-700 dark:text-gray-500 text-2xl mb-10" style="max-width: 700px">The latest updates and insights on Grassroot, remote work, programming, education, and closing the gap between talent and opportunity.</h2>

    <div class="wrapper">
        <div class="blog-wrapper">
            <div class="posts-side">
                <div class="w-dyn-list">
                    <div fs-cmsload-element="list" fs-cmsfilter-element="list" fs-cmsload-mode="pagination" role="list" class="blog-collection w-dyn-items">
                        <div role="listitem" class="post-item-big w-dyn-item snipcss0-0-0-1">                    
                            <div class="post-card-v1 snipcss0-1-1-2"><a href="/job/1" class="post-card-v1-image w-inline-block snipcss0-2-2-4"><%= image_tag ("job1.png") %></a>
                                <div class="post-card-v1-info snipcss0-2-2-6"><a href="/job/1" class="link-dark w-inline-block snipcss0-3-6-7">
                                        <h3 fs-cmsfilter-field="name" class="heading-2 snipcss0-4-7-8">What is a typical outcome after completing Grassroot ?</h3>
                                    </a>
                                    <p class="text-grey snipcss0-3-6-9">Learn about past salary outcomes of Grassroot  alums and the factors that will affect your potential outcome.</p>
                                    <div class="post-card-bottom snipcss0-3-6-10">
                                        <div class="post-card-bottom-info snipcss0-4-10-11">
                                            <div class="text-block-14 w-hidden-tiny snipcss0-5-11-12">Posted on&nbsp;</div>
                                            <div class="text-block-15 w-hidden-tiny snipcss0-5-11-13">Mar 8, 2023</div>
                                            </a>
                                        </div><a href="/job/1" class="link-arrow no-margin w-inline-block snipcss0-4-10-18">
                                            <div class="text-block-4 snipcss0-5-18-19"><span class="text-span snipcss0-6-19-20">Read More</span></div><img src="./images/5dc12155f29bfc56c70461cc_arrow-blog.svg" alt="" class="link-arrow-icon snipcss0-5-18-21">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <br><br><br><br>

                        <div role="listitem" class="post-item-big w-dyn-item snipcss0-0-0-1">
                            <div class="post-card-v1 snipcss0-1-1-2"><a href="/job/2" class="post-card-v1-image w-inline-block snipcss0-2-2-4"><%= image_tag ("job2.jpg") %></a>
                                <div class="post-card-v1-info snipcss0-2-2-6"><a href="/job/2" class="link-dark w-inline-block snipcss0-3-6-7">
                                        <h3 fs-cmsfilter-field="name" class="heading-2 snipcss0-4-7-8">Does Grassroot help me find a job?Learn more about what Grassroot does, and does not do, during your job searching (and beyond!)</h3>
                                    </a>
                                    <div class="post-card-bottom snipcss0-3-6-10">
                                        <div class="post-card-bottom-info snipcss0-4-10-11">
                                            <div class="text-block-14 w-hidden-tiny snipcss0-5-11-12">Posted on&nbsp;</div>
                                            <div class="text-block-15 w-hidden-tiny snipcss0-5-11-13">Mar 8, 2023</div>
                                            </a>
                                        </div><a href="/job/2" class="link-arrow no-margin w-inline-block snipcss0-4-10-18">
                                            <div class="text-block-4 snipcss0-5-18-19"><span class="text-span snipcss0-6-19-20">Read More</span></div><img src="./images/5dc12155f29bfc56c70461cc_arrow-blog.svg" alt="" class="link-arrow-icon snipcss0-5-18-21">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> 

                         <br><br><br><br>

                        <div role="listitem" class="post-item-big w-dyn-item snipcss0-0-0-1">
                            <div class="post-card-v1 snipcss0-1-1-2"><a href="/job/3" class="post-card-v1-image w-inline-block snipcss0-2-2-4"><%= image_tag ("blog3.jpg") %></a>
                                <div class="post-card-v1-info snipcss0-2-2-6"><a href="/job/3" class="link-dark w-inline-block snipcss0-3-6-7">
                                        <h3 fs-cmsfilter-field="name" class="heading-2 snipcss0-4-7-8">What kind of jobs can I get after Grassroot?</h3>
                                    </a>
                                    <div class="post-card-bottom snipcss0-3-6-10">
                                        <div class="post-card-bottom-info snipcss0-4-10-11">
                                            <div class="text-block-14 w-hidden-tiny snipcss0-5-11-12">Posted on&nbsp;</div>
                                            <div class="text-block-15 w-hidden-tiny snipcss0-5-11-13">Mar 8, 2023</div>
                                            </a>
                                        </div><a href="/job/3" class="link-arrow no-margin w-inline-block snipcss0-4-10-18">
                                            <div class="text-block-4 snipcss0-5-18-19"><span class="text-span snipcss0-6-19-20">Read More</span></div><img src="./images/5dc12155f29bfc56c70461cc_arrow-blog.svg" alt="" class="link-arrow-icon snipcss0-5-18-21">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br><br><br><br>

                        <div role="listitem" class="post-item-big w-dyn-item snipcss0-0-0-1">
                            <div class="post-card-v1 snipcss0-1-1-2"><a href="/job/4" class="post-card-v1-image w-inline-block snipcss0-2-2-4"><%= image_tag ("job4.jpg") %></a>
                                <div class="post-card-v1-info snipcss0-2-2-6"><a href="/job/4" class="link-dark w-inline-block snipcss0-3-6-7">
                                        <h3 fs-cmsfilter-field="name" class="heading-2 snipcss0-4-7-8">What can I expect about remote work according to my region/country?</h3>
                                    </a>
                                    <div class="post-card-bottom snipcss0-3-6-10">
                                        <div class="post-card-bottom-info snipcss0-4-10-11">
                                            <div class="text-block-14 w-hidden-tiny snipcss0-5-11-12">Posted on&nbsp;</div>
                                            <div class="text-block-15 w-hidden-tiny snipcss0-5-11-13">Mar 8, 2023</div>
                                            </a>
                                        </div><a href="/job/4" class="link-arrow no-margin w-inline-block snipcss0-4-10-18">
                                            <div class="text-block-4 snipcss0-5-18-19"><span class="text-span snipcss0-6-19-20">Read More</span></div><img src="./images/5dc12155f29bfc56c70461cc_arrow-blog.svg" alt="" class="link-arrow-icon snipcss0-5-18-21">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>                                   
                    </div>                                      
                </div>
            </div>
            
        </div>
    </div>
</div>





<style>

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"); 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.title {
    font-size: 3rem;
}

.page-wrapper { 
    position: relative; 
    display: block; 
    overflow: hidden; 
    grid-auto-columns: 1fr; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
} 


.section { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 50px 20px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: #fff;
} 

.wrapper { 
    margin: 4rem 0;
    position: relative; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: transparent;
} 

.blog-wrapper { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start;
} 

.posts-side { 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
} 

.blog-sidebar { 
    width: 33.33%; 
    padding-right: 15px; 
    padding-left: 15px; 
    -webkit-box-flex: 0; 
    -webkit-flex: 0 auto; 
    -ms-flex: 0 auto; 
    flex: 0 auto;
} 

.sidebar-card { 
    margin-bottom: 24px; 
    padding-bottom: 24px; 
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 1px 3px 0 rgba(89,98,115,.12);
} 

.blog-collection { 
    width: 100%;
} 

.no-results { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-bottom: 40px; 
    padding: 40px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 5px; 
    box-shadow: inset 0 0 0 1px #a9b0be; 
    text-align: center;
} 

.w-pagination-wrapper { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center;
} 

.sidebar-card-header { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 24px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-bottom: 1px solid #e1e6ee;
} 

.sidebar-card-search { 
    padding-top: 24px; 
    padding-right: 24px; 
    padding-left: 24px;
} 

.sidebar-card-info { 
    padding-top: 24px; 
    padding-right: 40px; 
    padding-left: 40px;
} 

.sidebar-card-info.small-padding { 
    padding-right: 24px; 
    padding-left: 24px;
} 

.post-item-big { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    padding-right: 15px; 
    padding-left: 15px; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start;
} 

.emoji-result { 
    margin-bottom: 20px; 
    font-size: 120px; 
    line-height: 1em;
} 

.h1 { 
    margin-bottom: 1em; 
    font-size: 44px; 
    line-height: 1.2em;
} 

.s-m-b-22 { 
    margin-bottom: 22px;
} 

.c-t-grey-1 { 
    color: #adadad;
} 

a { 
    background-color: transparent; 
    text-decoration: underline;
} 

.w-pagination-previous { 
    display: block; 
    color: #333; 
    font-size: 14px; 
    margin-left: 10px; 
    margin-right: 10px; 
    padding: 9px 20px; 
    background-color: #fafafa; 
    border-width: 1px; 
    border-color: #ccc; 
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    border-style: solid; 
    border-radius: 2px;
} 

.load-more-button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    min-width: 132px; 
    padding: 12px 24px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-align-self: center; 
    -ms-flex-item-align: center; 
    align-self: center; 
    -webkit-box-ordinal-group: 2; 
    -webkit-order: 1; 
    -ms-flex-order: 1; 
    order: 1; 
    border-style: none; 
    border-radius: 5px; 
    background-color: transparent; 
    box-shadow: inset 0 0 0 1px #d3d8e1; 
    -webkit-transition: box-shadow .2s; 
    transition: box-shadow .2s; 
    color: #3e396b; 
    line-height: 1.6em; 
    font-weight: 700; 
    text-decoration: none;
} 

.load-more-button.prev { 
    padding-left: 16px; 
    -webkit-box-ordinal-group: 0; 
    -webkit-order: -1; 
    -ms-flex-order: -1; 
    order: -1;
} 

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    opacity: .5;
} 

.pagination-buttons { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center;
} 

.w-pagination-next { 
    display: block; 
    color: #333; 
    font-size: 14px; 
    margin-left: 10px; 
    margin-right: 10px; 
    padding: 9px 20px; 
    background-color: #fafafa; 
    border-width: 1px; 
    border-color: #ccc; 
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    border-style: solid; 
    border-radius: 2px;
} 

.load-more-button.next { 
    padding-left: 32px;
} 

.w-page-count { 
    width: 100%; 
    text-align: center; 
    margin-top: 20px;
} 

.page-count { 
    display: none;
} 

img { 
    border: 0; 
    vertical-align: middle; 
    display: inline-block; 
    max-width: 100%;
} 

.sidebar-icon { 
    width: 24px; 
    height: 24px; 
    margin-right: 12px;
} 

h4 { 
    font-weight:  700; 
    margin-bottom:  16px; 
    margin-top: 0; 
    font-size: 17px; 
    line-height: 24px;
} 

.no-margin { 
    margin: 0; 
    color: #3e396b;
} 

.w-form { 
    margin: 0 0 15px;
} 

.s-m-b-0 { 
    margin-bottom: 0;
} 

.social-icons { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.social-icons.subscribe-v1-icons { 
    margin-right: -4px; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
} 

.post-card-v1 { 
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    margin-bottom: 40px; 
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 1px 3px 0 rgba(89,98,115,.12);
} 

.w-pagination-previous-icon { 
    margin-right: 4px;
} 

.icon-next-prev { 
    position: relative; 
    top: -2px; 
    width: 16px; 
    height: 16px;
} 

svg:not(:root) { 
    overflow: hidden;
} 

.w-inline-block { 
    max-width: 100%; 
    display: inline-block;
} 

.page-button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-right: 3px; 
    margin-left: 3px; 
    padding: 14px 20px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 5px; 
    box-shadow: inset 0 0 0 1px #d3d8e1; 
    color: #3e396b; 
    font-size: 18px; 
    line-height: 1em; 
    text-decoration: none;
} 

.page-button.w--current { 
    background-color: #3e396b; 
    color: #fff;
} 

.page-dots { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-right: 3px; 
    margin-left: 3px; 
    padding-right: 16px; 
    padding-left: 16px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    line-height: .3em;
} 

.w-pagination-next-icon { 
    margin-left: 4px;
} 

.w-form-done { 
    display: none; 
    padding: 20px; 
    text-align: center; 
    background-color: #ddd;
} 

.w-form-fail { 
    display: none; 
    margin-top: 10px; 
    padding: 10px; 
    background-color: #ffdede;
} 

.social-circle-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 48px; 
    height: 48px; 
    margin: 4px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: 1px solid #e1e6ee; 
    border-radius: 50%; 
    -webkit-transition: border-color .2s; 
    transition: border-color .2s;
} 

.social-circle-link:hover { 
    border-color: #d3d8e1;
} 

.sidebar-categories { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 10px; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
} 

.sidebar-subscribe-form { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 16px; 
    margin-bottom: 16px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.form-success { 
    padding-top: 16px; 
    padding-bottom: 16px; 
    background-color: transparent;
} 

.form-error { 
    padding: 8px 12px; 
    background-color: transparent; 
    color: #fc3762; 
    font-size: 12px; 
    line-height: 16px; 
    text-align: center;
} 

.badge { 
    display: inline-block; 
    padding: 6px 8px 6px 9px; 
    border-radius: 5px; 
    background-color: #2583fd; 
    color: #fff; 
    font-size: 8px; 
    line-height: 12px; 
    font-weight: 700; 
    letter-spacing: 1px; 
    text-decoration: none; 
    text-transform: uppercase;
} 

.badge.post-card-category { 
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1;
} 

.badge.post-card-category:hover { 
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)); 
    background-image: linear-gradient(180deg,#fff,#fff); 
    color: #2c3340;
} 
.post-card-v1-image img {
    width: 100%;
}
.post-card-v1-image { 
    width: 100%; 
    background-color: #d3d8e1; 
    -webkit-transition: -webkit-filter .2s; 
    transition: filter .2s; 
    transition: filter .2s,-webkit-filter .2s;
} 

.post-card-v1-image:hover { 
    -webkit-filter: brightness(95%); 
    filter: brightness(95%);
} 

.post-card-v1-info { 
    padding: 32px 40px 12px;
} 

input { 
    color:  inherit; 
    font:  inherit; 
    margin:  0;
    line-height: normal;
} 

.w-input { 
    display: block; 
    width: 100%; 
    height: 38px; 
    padding: 8px 12px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    vertical-align: middle; 
    background-color: #fff; 
    border: 1px solid #ccc;
} 

.search-blog-post { 
    height: 48px; 
    padding: 7px 24px 8px; 
    border: 1px solid #d3d8e1; 
    border-radius: 5px; 
    background-color: #f5f6f8; 
    -webkit-transition: border-color .2s; 
    transition: border-color .2s;
} 

.social-icon { 
    width: 16px;
} 

.sidebar-category { 
    width: 50%; 
    padding: 6px;
} 

.input { 
    height: 48px; 
    min-width: 228px; 
    margin-bottom: 24px; 
    padding: 7px 24px 8px; 
    border: 1px solid #d3d8e1; 
    border-radius: 5px; 
    background-color: #f5f6f8; 
    -webkit-transition: border-color .2s; 
    transition: border-color .2s;
} 

.w-button { 
    display: inline-block; 
    padding: 9px 15px; 
    background-color: #3898ec; 
    color: #fff; 
    border: 0; 
    line-height: inherit; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 0;
} 

.button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 48px; 
    padding: 12px 24px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: 1px #fc3762; 
    border-radius: 5px; 
    background-color: #fbd54a; 
    box-shadow: inset 0 0 0 1px #596273; 
    opacity: 1; 
    -webkit-transition: box-shadow .2s; 
    transition: box-shadow .2s; 
    color: #2c3340; 
    font-size: 14px; 
    line-height: 24px; 
    font-weight: 600; 
    text-align: center; 
    text-decoration: none;
} 

input.w-button { 
    -webkit-appearance: button;
} 

.link-dark { 
    color: #2c3340; 
    text-decoration: none;
} 

.link-dark:hover { 
    text-decoration: underline;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem; 
    color:  #636c98; 
    line-height:  1.94; 
    font-weight:  400;
    font-family: 'Montserrat', sans-serif;
} 

.text-grey { 
    color: #636c98; 
    line-height: 22px;
} 

.post-card-bottom { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: -4px; 
    padding-top: 16px; 
    padding-bottom: 16px; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-top: 1px solid #e1e6ee;
} 

.sidebar-post-card { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 16px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 7px; 
    -webkit-transition: none; 
    transition: none; 
    color: #2c3340; 
    text-decoration: none;
} 

.sidebar-post-card:hover { 
    background-color: #f5f6f8;
} 

.sidebar-author-card { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 12px 16px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 7px; 
    -webkit-transition: background-color .1s; 
    transition: background-color .1s; 
    color: #2c3340; 
    text-decoration: none;
} 

.sidebar-author-card:hover { 
    background-color: #f5f6f8;
} 

.sidebar-category-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    min-height: 60px; 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 12px; 
    padding-left: 12px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border: 1px solid #e1e6ee; 
    border-radius: 5px; 
    -webkit-transition: none; 
    transition: none; 
    color: #2c3340; 
    font-size: 13px; 
    line-height: 16px; 
    font-weight: 700; 
    text-align: center; 
    text-decoration: none;
} 

.sidebar-category-link:hover { 
    background-color: #f5f6f8;
} 

h3 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    color:  #636b98; 
    font-size:  21px; 
    line-height:  28px;
    font-family: 'Domine', sans-serif;
} 

.heading-2 { 
    border: 1px #000; 
    -webkit-transition: opacity .2s; 
    transition: opacity .2s; 
    color: #3e396b;
} 

.post-card-bottom-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    color: #7a8292; 
    font-size: 12px; 
    line-height: 16px;
} 

.link-arrow { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #41d3bd; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: 700; 
    text-align: left; 
    text-decoration: none;
} 

.link-arrow.no-margin { 
    margin: 0;
} 

.sidebar-post-image { 
    width: 80px; 
    height: 60px; 
    margin-right: 20px; 
    border-radius: 5px; 
    background-color: #d3d8e1; 
    background-image: url("./images/background-image.svg"); 
    background-position: 50% 50%; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat;
} 

.sidebar-post-info { 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
} 

.sidebar-author-avatar { 
    width: 48px; 
    height: 48px; 
    margin-right: 16px; 
    border-radius: 50%;
} 

h6 { 
    font-weight:  700;
    margin-bottom:  12px; 
    margin-top: 0; 
    font-size: 13px; 
    line-height: 16px; 
} 

.text-block-14 { 
    color: #636c98;
} 

.text-block-15 { 
    color: #636c98;
} 

.text-block-16 { 
    color: #636c98;
} 

.post-card-author-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 32px; 
    margin-left: 4px; 
    padding-right: 12px; 
    padding-left: 4px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 16px; 
    -webkit-transition: background-color .1s; 
    transition: background-color .1s; 
    color: #596273; 
    text-decoration: none;
} 

.post-card-author-link:hover { 
    background-color: #f5f6f8; 
    color: #2c3340;
} 

.text-block-4 { 
    color: #734af6;
} 

.link-arrow-icon { 
    margin-top: 1px; 
    margin-left: 4px; 
    background-color: transparent;
} 

.sidebar-post-category { 
    margin-top: 5px; 
    margin-bottom: 1px; 
    color: #7a8292; 
    font-size: 10px; 
    line-height: 12px;
} 

.post-card-v1-avatar { 
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    border-radius: 50%;
} 

.text-block-17 { 
    color: #636c98;
} 

.text-span { 
    color: #41d3bd;
} 



</style>
